body {
    background-color: rgb(199, 210, 247);
}
.formulario {
    background-color: rgb(183, 64, 243);
    margin:50px;
    text-align: center;
    margin:400px;
    margin-top: 75px;
    margin-bottom: 100px;
    padding: 30px;
}